main{
    height:100%;   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    
    

}

.box1 {

   grid-area: box1;
   background: lightcoral;
   grid-column: 1/1;
   grid-row: 1/2;

}

.box2 {

   grid-area: box2;
   background: lightblue;
   grid-column: 2/2;
   grid-row: 2/2;

}

.box3 {

   grid-area: box3;
   background: lightgreen;
   grid-column: 3/3;
   grid-row: 3/3;
   

}